pandas
numpy
requests
openmeteo-requests
requests-cache
retry-requests
python-dotenv
matplotlib
hopsworks
python-dotenv
pyarrow
deltalake
scikit-learn 
joblib
xgboost 
tensorflow
seaborn
shap
jinja2
flask
streamlit 
plotly 
requests
APScheduler
ipykernel
gunicorn
flask-cors
